@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
  color: #413737;
  font-size: 16px;
  font-family: 'Nunito', serif;
  background-color: #eee;
  line-height: normal;
}

nav a:link, nav a:visited {
  color: #fee;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #fff;
  text-decoration: underline;
}
nav a.active {
  color: #fff;
}

.header-grid{
  border-bottom: 6px solid #de4047;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 10px;
  background-color: #AF4C50;
  padding: 10px;
  padding-left: 20px;
  color: #fee;
  grid-template-areas:
    "logo search login"
}

.header-grid div{
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bolder;
  margin: auto;
}
.header-grid a{
  padding-right: 20px;
}

.logo{
  grid-area: logo;
}

.login{
  grid-area: login;
  display: flex;
  flex-direction: row;
  font-size: 24px;
}

.search {
  grid-area: search;
  overflow: hidden;
  float: none;
  margin: auto;
}
.search input[type=text] {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 17px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  max-width: 100%;
}

.search button {
  float: none;
  padding: 15px 15px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: -10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.search form{
  margin-left: auto;
  margin-right: auto;
}

.search button:hover {
  background: #ccc;
}
.body{
  max-width: 85%;
  margin-left: auto;
  padding-left: 40px;
  margin-right: auto;
  padding-right: 40px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}
.body p{
  margin: auto;
  margin-top: 30px;
}
.body ul{
  margin: auto;
  margin-left: 0px;
}
.box{
  display: flex;
  flex-direction: column;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body button{
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
}
.backdrop{
  margin-top: auto;
  margin-bottom: auto;
  line-height: 2.5;
}
.backdrop ul{
  background-color: #AF4C50;
  color: #f1f1f1;
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.begin{
  background-color: #413737;
  color: #fff;
  border: 2px solid #de4047;
  border-radius: 4px;
}
